.accordion {
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 1rem 0;
}

.title {
  margin: 0;
  font-size: 1.1rem;
  color: black;
}

.icon {
  font-size: 1rem;
  color: #d9d9d9;
  transition: transform 0.3s ease;

  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: #9b9999;
  transition: transform 0.3s ease;
  margin-bottom: 0.5rem;
}


.rotateIcon {
  transform: rotate(180deg);
}

.icon svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.content.open {
  max-height: 38.4rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--main-fontBold);
}

.listItem {
  padding: 8px 0;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.listItem a {
  text-decoration: none;
  color: #838990;
  line-height: 2rem;
}

.listItem img {
  filter: grayscale(1);
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

/* Responsive - Mobile First */
/* Mobile Size */
@media screen and (min-width: 576px) {
}
