.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container a {
  text-decoration: none;
	background-color: rgb(211 216 233);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 100%

}

.container a svg {
  color: rgb(55 70 128);
  width: 2rem;
  height: 2rem;
}
