.container {
  width: 100%;
  /* margin-top: 10rem; */
}

.mobileHeader {
  display: block;
}

.desktopHeader {
  display: none;
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
}

/* Mobile Size */
@media screen and (min-width: 576px) {
}

/* Tablet Size */
@media screen and (min-width: 768px) {
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .mobileHeader {
    display: none;
  }

  .desktopHeader {
    display: block;
  }
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
}
