.mobileFooter {
  display: block;
}

.desktopFooter {
  display: none;
}

@media screen and (min-width: 992px) {
  .mobileFooter {
    display: none;
  }

  .desktopFooter {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  /* .mobileFooter {
    width: 1200px;
		margin: 0 auto;
  }
  .desktopFooter {
    width: 1200px;
		margin: 0 auto;
  } */
}
