.topItem {
  width: 100%;
  background-color: #f0f1f5;
  display: flex;
  align-items: center;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
}

.topItemRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.topItemIcon {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
}

.topItemIcon svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--primary-color);
}

.topItemBullet {
  width: 1.6rem;
  height: 1.6rem;
  border: 0.4rem solid #d0daed;
  background-color: #505faa;
  border-radius: 100%;
  flex-shrink: 0;
}

.topItemText {
  max-width: 16rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  flex-shrink: 0;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.topItemLeft {
  display: none;
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
}

/* Mobile Size */
@media screen and (min-width: 576px) {
  .topItemText {
    max-width: fit-content;
  }
}

/* Tablet Size */
@media screen and (min-width: 768px) {
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .topItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 9.9rem;
  }

  .topItemRight {
    background-color: #f0f1f5;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .topItemLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .topItemLeft a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.3rem;
    gap: 0.4rem;
    font-family: var(--main-fontBold);
  }

  .topItemLeft a:nth-child(1) {
    border-left: 0.1rem solid var(--primary-color);
    padding-left: 1rem;
  }

  .topItemLeft a svg {
    width: 2rem;
    height: 2rem;
  }
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
}
