.container {
  width: 110rem;
  padding: 0 3.2rem;
  /* margin-top: 10rem; */
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
}

/* Mobile Size */
@media screen and (min-width: 576px) {
}

/* Tablet Size */
@media screen and (min-width: 768px) {
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .container {
    margin: 0 1.9rem;
    padding: 0 8rem;
  }
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
}
