.container {
  width: 100%;
  margin: 2rem 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0 2.4rem;
}

.img {
  width: fit-content;
  background-color: #e6e8f1;
  padding: 1rem;
  border-radius: 1rem;
}

.img img {
  width: 4rem;
  height: 4rem;
}

.title {
  font-family: var(--main-fontBold);
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
}

.slider {
  width: 100%;
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
  .title {
    font-size: 3rem;
  }
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .title {
    font-size: 4rem;
  }
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
  .container {
    padding: 4rem 10rem;
  }
}
