.container {
  width: 100%;
  margin: 5rem 0;
  padding: 0 2.4;
}

.title {
  font-family: var(--main-fontBold);
  color: var(--primary-color);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.slider {
  text-align: center;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.sliderContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.2rem;
  width: 10rem;
  height: 100%;
  background: linear-gradient(to left, #f8f9f9, transparent);
  z-index: 2;
  pointer-events: none;
}

.sliderContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -0.2rem;
  width: 10rem;
  height: 100%;

  background: linear-gradient(to right, #f8f9f9, transparent);
  z-index: 2;
  pointer-events: none;
}

.swiper {
  width: 80%;
  height: 10rem !important;
}

.first {
  width: 90% !important;
}

/* .middle {
  width: 100%;
} */

.third {
  width: 90% !important;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.logo {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 576px) {
  .swiper {
    height: 120px;
  }
  .logo {
    width: 8rem;
    height: 8rem;
  }

  .sliderContainer::before {
    width: 25rem;
  }

  .sliderContainer::after {
    width: 25rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 20rem;
  }
  .logo {
    width: 10rem;
    height: 10rem;
  }

  .sliderContainer::before {
    width: 35rem;
  }

  .sliderContainer::after {
    width: 35rem;
  }
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 10rem;
  }
  .swiper {
    height: 10rem !important;
  }

  .swiper-slide {
    height: 10rem !important;
  }
}
