.container {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 4.8rem 3.2rem;
}

.img {
  width: 100%;
}

.img img {
  width: 100%;
}

.detail {
  width: 100%;
  text-align: right;
}

.detail h2 {
  font-size: 1.2rem;
  color: white;
  margin: 0.8rem 0;
}

.detail p {
  color: white;
  margin: 0.8rem 0;
  line-height: 2rem;
}
.detail ul {
  list-style: none;
  margin: 1rem 0 3rem;
}

.detail ul li {
  color: #ffffffb3;
  font-family: var(--main-fontBold);
  margin-left: 0.5rem;
  margin: 0.5rem;
}

.detail ul li span:last-child {
  color: white;
  font-family: var(--main-fontBold);
  margin-left: 0.5rem;
}

.detail ul li span:first-child {
  color: var(--secondary-color);
  margin-left: 0.5rem;
}

.detail a {
  width: 11rem;
  text-decoration: none;
  border-radius: 0.8rem;
  background-color: rgb(249 176 70);
  color: black;
  padding: 1rem 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive - Mobile First */
/* Small Device Size */
@media screen and (min-width: 450px) {
}

/* Mobile Size */
@media screen and (min-width: 576px) {
}

/* Tablet Size */
@media screen and (min-width: 768px) {
}

/* Laptop Size */
@media screen and (min-width: 992px) {
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
  .container {
    flex-direction: row;
    gap: 3rem;
		padding: 4.8rem 10rem;
  }

  .img {
    width: 50%;
  }

  .detail {
    width: 50%;
  }

  .detail h2 {
    font-size: 3rem;
  }

  .detail p {
    font-size: 2rem;
    line-height: 4rem;
  }

  .detail ul {
    font-size: 1.9rem;
  }

  .detail a {
    width: 18rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.5rem 0.5rem;
  }

  .detail a:hover {
    background-color: var(--secondary-color);
  }
}
